.btn {
  background-image: linear-gradient(
    589deg,
    #ffea00,
    #4a2ee6,
    #b844e6cc,
    #4ff38c
  );
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1.7rem;
  width: 4rem;
  height: 4rem;
  /* round button */
  border-radius: 50%;
  border: 0;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.btn:hover {
  background-color: rgba(0, 254, 25, 0.941);
}
