.clouds.day {
  background-image: url("../public/images/day_clouds.gif");
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.clouds.night {
  background-image: url("../public/images/mist.gif");
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.clear.day {
  background-image: url("../public/images/clear_day.gif");
  background-size: 100% 100%;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
}
.clear.night {
  background-image: url("../public/images/clear_night.gif");
  background-size: 100% 100%;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
}
.rain.day {
  background-image: url("../public/images/rain_day.gif");
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rain.night {
  background-image: url("../public/images/rain_night.gif");
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.thunderstorm.day {
  background-image: url("../public/images/thunderstorm.gif");
  background-size: 100% 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.thunderstorm.night {
  background-image: url("../public/images/thunderstorm.gif");
  background-size: 100% 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: tomato;
  width: 100vw;
  height: 100vh;
}
.fog {
  background-image: url("../public/images/mist.gif");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}
.fog {
  background-image: url("../public/images/snow.gif");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  width: 500px;
  height: 500px;
  z-index: 1;
}
.error {
  display: flex;
  width: 100vw;
  height: 50vh;
  font-size: 1.5rem;
  overflow: scroll;
  align-self: center;
  justify-content: end;
  flex-direction: column;
  color: #00fe9b;
  text-shadow: 4px 3px 5px #ff0000;
  z-index: 3;
}
