.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/images/clouds.png");
  background-size: 100% 100%;
}

.leaflet-container {
  width: 50vw;
  height: 50vh;
  z-index: 1;
}
