.clouds {
  background-image: url("../public/images/day_clouds.gif");
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.clear {
  background-image: url("../public/images/clear_night.gif");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}
.rain {
  background-image: url("../public/images/rain_night.gif");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}
.fog {
  background-image: url("../public/images/mist.gif");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}
.fog {
  background-image: url("../public/images/snow.gif");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}
.wrapper {
  width: 100vw;
  height: 100vh;
}

.leaflet-container {
  width: 500px;
  height: 500px;
  z-index: 1;
}
