@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Silkscreen&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-image: linear-gradient(9deg, #8f8ebf, #4a2ee6, #b600fdcc, #4ff38c);
  background-image: url("../public/images/cyberpunk.gif");
  background-size: 120% 176%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  font-family: "Silkscreen", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  letter-spacing: 0.05rem;
  line-height: 1.5;
}
